## Descrição

Esse notebook foi construído para realizar os desafios propostos no final de cada aula do curso **Pandas: conhecendo a biblioteca**

## Aula 1: Conhecendo a base de dados

### Desafio 1
Importe o arquivo [**alunos.csv**](https://raw.githubusercontent.com/alura-cursos/pandas-conhecendo-a-biblioteca/main/desafios/alunos.csv) e armazene seu conteúdo em um DataFrame Pandas

In [ ]:
import pandas as pd

In [ ]:
url = 'https://github.com/lukaswyllis/formacao_python_para_data_science/raw/refs/heads/master/dados-curso4/aluguel.csv'
dados = pd.read_csv(url, sep=';')
dados

### Desafio 2
Visualize as primeiras 7 linhas do DataFrame e as 5 últimas

In [ ]:
dados.head(7)

In [ ]:
dados.tail()

### Desafio 3
Confira a quantidade de linhas e colunas do DataFrame

In [ ]:
dados.shape

### Desafio 4
Explore as colunas do DataFrame e analise os tipos dos dados presentes em cada coluna

In [ ]:
dados.columns

In [ ]:
dados['Notas']

In [ ]:
dados[['Nome', 'Aprovado']]

In [ ]:
dados.dtypes

### **Extra**
Calcule algumas estatísticas descritivas básicas dos dados do DataFrame (média, desvio padrão, etc) - Dica: pesquise pelo método **describe**

In [ ]:
dados.describe()

## Aula 2: Análise exploratória dos dados

Para os desafios dessa aula, vamos utilizar a mesma base de dados que estamos utilizando para o desenvolvimento do nosso projeto. Sendo assim, na célula abaixo vamos realizar a importação dessa base de dados e aplicar as transformações já realizadas até o momento da aula 2.

In [ ]:
# importando a base de dados
url = 'https://raw.githubusercontent.com/alura-cursos/pandas-conhecendo-a-biblioteca/main/base-de-dados/aluguel.csv'
dados = pd.read_csv(url, sep=';')

In [ ]:
imoveis_comerciais = ['Conjunto Comercial/Sala',
                      'Prédio Inteiro', 'Loja/Salão',
                      'Galpão/Depósito/Armazém',
                      'Casa Comercial', 'Terreno Padrão',
                      'Loja Shopping/ Ct Comercial',
                      'Box/Garagem', 'Chácara',
                      'Loteamento/Condomínio', 'Sítio',
                      'Pousada/Chalé', 'Hotel', 'Indústria']

# removendo imóveis comerciais
df = dados.query('@imoveis_comerciais not in Tipo')

# selecionando apenas imóveis do tipo apartamento
df = df.query('Tipo == "Apartamento"')

# visualizando a base de dados
df.head()

### Desafio 1
Calcular a média de quartos por apartamento

In [ ]:
df['Quartos'].mean()

### Desafio 2
Conferir quantos bairros únicos existem na nossa base de dados

In [ ]:
len(df['Bairro'].unique())

In [ ]:
df['Bairro'].nunique()

### Desafio 3
Analisar quais bairros possuem a média de valor de aluguel mais elevadas

In [ ]:
df.groupby('Bairro')[['Valor']].mean().sort_values('Valor')

### Desafio 4
Criar um gráfico de barras verticais que apresente os 5 bairros com a média de valor de aluguel mais elevadas

In [ ]:
df.groupby('Bairro')[['Valor']].mean().sort_values('Valor').head()

In [ ]:
df_bairros = df.groupby('Bairro')[['Valor']].mean().sort_values('Valor').head()

df_bairros.plot(kind='barh', figsize=(14,10), color='blue');

## Aula 3

In [ ]:
# Importando novamente os dados

url = 'https://raw.githubusercontent.com/alura-cursos/pandas-conhecendo-a-biblioteca/main/desafios/alunos.csv'
dados = pd.read_csv(url)
dados

### Desafio 1
Verifique se a base de dados possui dados nulos e caso tenha, realize o tratamento desses dados nulos

In [ ]:
dados.isnull().sum()

In [ ]:
dados = dados.fillna(0)
dados

In [ ]:
dados.isnull().sum()

### Desafio 2
Os alunos "Alice" e "Carlos", não fazem mais parte da turma. Sendo assim, remova-os da base de dados

In [ ]:
dados.query('Nome == "Alice" | Nome == "Carlos"')

In [ ]:
dados.query('Nome == "Alice" | Nome == "Carlos"').index

In [ ]:
alunos_a_remover = dados.query('Nome == "Alice" | Nome == "Carlos"').index

dados.drop(alunos_a_remover, axis=0, inplace=True)

In [ ]:
dados.query('Nome == "Alice" | Nome == "Carlos"')

### Desafio 3
Aplique um filtro que selecione apenas os alunos que foram aprovados

In [ ]:
dados['Aprovado'] == True

In [ ]:
selecao = dados['Aprovado'] == True
dados[selecao]

### Desafio 4
Salve o DataFrame que possui apenas os alunos aprovados em um arquivo csv chamado "alunos_aprovados.csv"

In [ ]:
alunos_aprovados = dados[selecao]

In [ ]:
alunos_aprovados.to_csv('alunos_aprovados.csv', index=False)

In [ ]:
pd.read_csv('alunos_aprovados.csv')

### **Extra**
Ao conferir as notas dos alunos aprovados, notamos que algumas notas estavam incorretas. As alunas que tiraram nota 7.0, na verdade tinham um ponto extra que não foi contabilizado. Sendo assim, substitua as notas 7.0 da base de dados por 8.0. **Dica**: pesquise pelo método **replace**

In [ ]:
alunos_aprovados

In [ ]:
alunos_aprovados.replace(7.0, 8.0)

In [ ]:
alunos_aprovados = alunos_aprovados.replace(7.0, 8.0)
alunos_aprovados

## Aula 4

In [ ]:
import pandas as pd

In [ ]:
# Importando novamente os dados

url = 'https://raw.githubusercontent.com/alura-cursos/pandas-conhecendo-a-biblioteca/main/desafios/alunos.csv'
dados = pd.read_csv(url)
dados

### Desafio 1
Os alunos participaram de uma atividade extracurricular e ganharam pontos extras. Esses pontos extras correspondem a 40% da nota atual de cada um deles. Com base nisso, crie uma coluna chamada "Pontos_extras" que contenha os pontos extras de cada aluno, ou seja, 40% da nota atual deles

In [ ]:
dados['Pontos_extras'] = dados['Notas'].apply(lambda x: x*0.4)
dados

### Desafio 2
Crie mais uma coluna, chamada "Notas_finais" que possua as notas de cada aluno somada com os pontos extras

In [ ]:
dados['Notas_finais'] = dados['Notas'] + dados['Pontos_extras']
dados

### Desafio 3
Como os alunos ganharam pontos extras, alguns que não tinham sido aprovados antes podem ter sido aprovados agora. Com base nisso, crie uma coluna chamada "Aprovado_final" com os seguintes valores:

* True: caso o aluno esteja aprovado (nota final deve ser maior ou igual a 6);
* False: caso o aluno esteja reprovado (nota final deve ser menor que 6).

In [ ]:
dados['Aprovado_final'] = dados['Notas_finais'].apply(lambda x: True if x >= 6 else False)
dados

### Desafio 4
Faça uma seleção e verifique quais alunos não tinham sido aprovados anteriormente, mas foram aprovados após a soma dos pontos extras

In [ ]:
dados.query('Aprovado == False & Aprovado_final == True')

In [ ]:
selecao = (dados['Aprovado'] == False) & (dados['Aprovado_final'] == True)
dados[selecao]